 body {
  margin: 20px;
  font-size: 70%;
 }
 
 * , *::after, *::before {
    box-sizing: border-box;
  }
  .box::before {
    content: "Hello" ;
  } 
  

.box {
    
    width: 100px;
    height: 100px;
    background-color: chocolate;
    display: inline-block;
 
} 

.box1 {
  width: 150px;
  height: 200px; 
  border: 10px solid black;
  overflow: hidden;

}
.box2 {
  width: 20rem ;
  height: 50vh;
  border: 5px solid olivedrab;
  background-color: crimson ;
}