 * , *::after, *::before {
    box-sizing: border-box;
  }
  .box::before {
    content: "Hello" ;
  } 
  

.box {
    
    width: 100px;
    height: 100px;
    background-color: chocolate;
    display: inline-block;
 
   
   
} 