 body {
  margin: 20px;
  font-size: 70%;
  height: 300vh;
 }
 
 * , *::after, *::before {
    box-sizing: border-box;
  }
  .box::before {
    content: "Hello" ;
  } 
  

.box {
    
    width: 100px;
    height: 100px;
    background-color: chocolate;
    display: inline-block;
 
} 

.box1 {
  width: 150px;
  height: 200px; 
  border: 10px solid black;
  overflow: hidden;

}
.box2 {
  width: 20rem ;
  height: 50vh;
  border: 5px solid olivedrab;
  background-color: crimson ;
}

.boxes {
  border: 3px solid black;
  position: relative;
  
}
.box3 {
  width: 10vw;
  height: 10vh;
}

.box_p1 {
  background-color: tomato;
  position: absolute;
}
.box_p2 {
  background-color: aqua;
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  left: 2rem;
  width: auto;
  z-index: 9999;

}
.box_p3 {
  background-color: chartreuse;
  /* position: fixed; */
}